.navbar
{
    font-family: 'Raleway';
    color: white;
    font-weight: 500;
    background-color:black ;
}

.logo_head
{   
    width: 160px;
    height: auto;
    top:9px;
}

  .navcenter span {
    margin: 0 30px; /* add horizontal margin to each span */
  }

  .H
  {
    background-color: transparent;
    position: absolute;
    left: 600px;
    top:16px;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    border-color: transparent;
  }

  .M
  {
    background-color: transparent;
    position: absolute;
    left: 700px;
    top:16px;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    border-color: transparent;
  }

  .T
  {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    border-color: transparent;
  }

  .H:hover
  {
    color: #FF9F00;
    font-size: large;
  }

  .M:hover
  {
    color: #FF9F00;
  }

  .T:hover
  {
    color: #FF9F00;
  }

  .signup
  {
    background-color: #FF9F00;
    border-radius: 6px;
    position: absolute;
    top:14px;
    left: 1200px;
    height: 35px;
    width: 90px;
    font-family: 'Raleway';
    color: black;
    font-weight: 500;
  }

  .signup:hover
  {
    background-color: white;
  }

  .already_acount
  {
    background-color: transparent;
    border: none;
    position: absolute;
    top:10px;
    left: 1300px;
    border-color: transparent;
    height: 20px;
    width: 150px;
    font-family: 'Raleway';
    color: white;
    font-weight: 300;
    line-height: 18px;
  }

  .M::before {
    content: '';
    width: 0%;
    height: 0.5px;
    background:#FF9F00;
    display: block;
    transition: 0.5s;
  }
  .H::before {
    content: '';
    width: 0%;
    height: 0.5px;
    background:#FF9F00;
    display: block;
    transition: 0.5s;
  }

  .already_acount::before {
    margin-left: auto;
  }

  .already_acount::after, .already_acount::before {
    content: '';
    width: 0%;
    height: 0.5px;
    background:#FF9F00;
    display: block;
    transition: 0.5s;
  }

  .already_acount:hover::after, button:hover::before {
    width: 100%;
  }